Package: com.ipadkid.actihastebin
Name: ActiHastebin
Depends: libactivator 
Version: 0.0.1
Architecture: iphoneos-arm
Description: Set an Activator gesture to switch out your clipboard text for a hastebin link of the previous text
Maintainer: <ipadkid358@gmail.com>
Author: ipad_kid <ipadkid358@gmail.com>
Section: Tweaks
